<h1>About</h1>
 <div class="center"><p>This website was created due to a burning passion for the cataloging of lesser known yet quality games<br><br>and for a passing grade for the CS416 final project.</p></div>
<br>
<h4>Group members Hoffman, Frink, Follacchio</h4>