<div class="center jumbotron">
  <h1>Welcome to the Games Listing</h1>

  <!--<h2>
    This website was made with the
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  </h2> -->

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

<!--<p><%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %> </p> --> </div>
            
<h1><%= link_to image_tag("space.png", alt: "A cool picture of space"),
            'https://everspace-game.com/game/' %> </h1>
<h4>image courtesy of everspace-game.com. Click to find out more! </h4>
