<table width="100%" border="1">
    <thead>
        <tr>
            <th width="20%">Name</th>
            <th width="20%">View</th>
            <th width="20%">Genre</th>
            <th width="20%">Publisher</th>
            <th width="7%"></th>
            <th width="6%"></th>
            <th width="7%"></th>
        </tr>
    </thead>
    <tbody>
        <%= render @games %>
    </tbody>
</table>